# Игнорируем все: каталоги, файлы, подкаталоги, файлы в подкаталогах
/*
/*/

# Не игнорировать следующие файлы из корня
!/.gitignore
!/LICENSE
!/README.md


# В каталоге /bin игнорируем все, кроме README.md файла
!/bin
/bin/*
!/bin/README.md


# В каталоге /etc игнорируем все, кроме README.md файла
!/etc
/etc/*
!/etc/README.md
# Дополнительные исключения вносить вручную для каждого необходимого каталога или файла
# !/etc/your_file


# В каталоге /etc/opt игнорируем все, кроме README.md файла
!/etc/install
/etc/install/*
!/etc/install/README.md
# Дополнительные исключения вносить вручную для каждого необходимого каталога или файла
# !/etc/opt/your_file


# В каталоге /etc/ssl игнорируем все, кроме README.md файла
!/etc/ssl
/etc/ssl/*
!/etc/ssl/README.md
# Дополнительные исключения вносить вручную для каждого необходимого каталога или файла
# !/etc/ssl/your_file


# В каталоге /home игнорируем все, кроме README.md файла
!/home
/home/*
!/home/README.md
# Дополнительные исключения вносить вручную для каждого необходимого каталога или файла
# !/home/your_file


# В каталоге /lib игнорируем все, кроме README.md файла
!/lib
/lib/*
!/lib/README.md


# В каталоге /man игнорируем все, кроме README.md файла
!/man
/man/*
!/man/README.md
# Дополнительные исключения вносить вручную для каждого необходимого каталога или файла
# !/man/your_file


# В каталоге /opt игнорируем все, кроме README.md файла
!/opt
/opt/*
!/opt/README.md


# В каталоге /tmp игнорируем все, кроме README.md файла
!/tmp
/tmp/*
!/tmp/README.md


# В каталоге /var игнорируем все, кроме README.md файла
!/var
/var/*
!/var/README.md


# В каталоге /var/log игнорируем все, кроме README.md файла
!/var/log
/var/log/*
!/var/log/README.md
